<html>

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .nav-wrapper {
            padding-left: 5%;
            padding-right: 5%;
        }

        .container {
            text-align: center;
        }

        main{
            padding-bottom: 12.2%;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Ulil</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/admin">Admin</a></li>
                <li><a href="/api">API</a></li>
                <li><a
                        href="https://docs.google.com/document/d/1BIMqKBNAupCneRIam99vuvO425Ainlt9cWModTpinl4/edit?usp=sharing">Documentation</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container">
            <h1>HELLO WORLD</h1>
            <span>Wellcome to my site</span>
            <br><br>
            <a href="/admin" class="waves-effect waves-light btn">Admin</a>
            <a href="/api" class="waves-effect waves-light btn">API</a>
            <a href="https://docs.google.com/document/d/1BIMqKBNAupCneRIam99vuvO425Ainlt9cWModTpinl4/edit?usp=sharing"
                class="waves-effect waves-light btn">Documentation</a>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div>
                    <!-- <h5 class="white-text"></h5> -->
                    <p class="grey-text text-lighten-4">Made with love by Mualif Ulil Misbakh</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Mualif Ulil Misbakh
                <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
        </div>
    </footer>
</body>

</html>